[2014-05-11 07:37] mwotton opened #1 "sandbox additions?"
I still haven't tracked this all the way down, but I _think_ it might not be doing the right thing with local add-source definitions? All of my projects that don't use add-source seem to work ok, all the ones that do fail - might codex be looking for private packages on hackage, not finding them and giving up?

[2014-05-13 14:10] gregwebs opened #2 "codex: /home/gweber/proj/README.md: getDirectoryContents: inappropriate type (Not a directory)"
I get the description from running `cabal update && cabal install codex && codex update`

[code]

[2014-05-13 23:08] mightybyte opened #4 "Update fails"
When I run "codex update" I get a whole bunch of errors like this.

"Failed to connect: CurlHttpReturnedError"

Then it ends with:

"full-package-path/tags: openFile: does not exist (No such file or directory)"

[2014-05-20 06:11] fujimura opened #5 "Weird behaviour without hasktags"
Without hasktags, `codex update` outputs error like below and it won't stop with Ctrl-C.

[code]

[2014-05-20 07:11] bjornbm opened #6 "codex won't build on clean GHC 7.8.2. Need dependency bounds?"
[code]

This is on a clean install of GHC 7.8.2. FYI here is the package DB:

[code]

I presume that you will need to add upper bounds to the dependencies to fix this?

[2014-06-14 10:57] aloiscochard opened #9 "Add note in readme about dependency on ubuntu"
libcurl4-openssl-dev

[2014-06-14 11:14] #2 closed, assigned to nobody

[2014-06-14 11:18] #4 closed, assigned to nobody

[2014-06-23 18:01] achudnov opened #10 "Codex with Emacs"
Is anybody using codex with Emacs? I'm generating a tags file, but Emacs refuses to open it complaining about invalid format. Here's what I have in my .codex:

[code]

[2014-07-02 20:00] #5 closed, assigned to nobody

[2014-07-02 20:23] #9 closed, assigned to nobody

[2014-07-02 23:02] #1 closed, assigned to nobody

[2014-07-03 15:53] aloiscochard opened #11 "Use inline pragma to enable language extensions."
It's considered a good practice to prefer language pragma instead over cabal configuration to enable language extensions.

[2014-07-03 20:15] #10 closed, assigned to nobody

[2014-07-08 23:15] #11 closed, assigned to aloiscochard

[2014-07-08 23:17] #6 closed, assigned to nobody

[2014-07-12 21:15] aloiscochard opened #12 "`hinotify` source not included in project `velox` tags"

[2014-07-14 08:28] aloiscochard opened #13 "Resolve sandbox path using 'cabal.sandbox.config'"

[2014-07-16 03:19] creichert opened #15 "Issues Updating in Sandbox"
I'm experiencing some issues using codex in a sandbox:

[code]

Here are the build depends for the project:

[code]

(No explicit version bounds on all but base, could that be it?)

This could be related to Issue #1. I have tried deleting the sandbox and trying again with no luck. It seems like some packages work just fine for me. I will update this issue if I can find the exact steps to reproduce

[2014-07-20 22:13] #15 closed, assigned to nobody

[2014-07-31 14:53] aloiscochard opened #17 "Upgrade to HackageDB 1.8"
And use the now shared `getHackagePath` thanks to @peti:
https://github.com/peti/hackage-db/pull/3

[2014-08-06 15:53] creichert opened #18 "Generate Tags for Current Cabal Project hs-source-dirs"
This is a wishlist item and I am not sure if codex already supports it or even if you plan to support it.

I would often like to generate tags for the project I am working on as well as the dependencies. Ideally, codex would generate tags for all hs-source-dirs in my cabal projects.

Is this a possibility?

[2014-08-23 16:50] aloiscochard opened #19 "Resolve benchmark dependencies"
Not working on project `unda`.

[2014-08-30 14:49] #17 closed, assigned to aloiscochard

[2014-09-18 13:24] nh2 opened #21 "Adding --extendedctag in ~/.codex settings doen't regenerate"
In `~/.codex`, I changed

`tagsCmd: hasktags --ctags --output='$TAGS' '$SOURCES'`

into

`tagsCmd: hasktags --ctags --extendedctag --output='$TAGS' '$SOURCES'`

and run `codex update`. But my `codex.tags` file was still in the old format.

After `codex cache clean` and then `codex update` everything is in the new format.

I think that codex should detect when the format in the options file changes

[2014-09-21 08:51] #21 closed, assigned to nobody

[2014-09-21 08:58] #19 closed, assigned to nobody

[2014-09-21 15:43] #18 closed, assigned to nobody

[2014-10-14 13:18] aloiscochard opened #22 "Allow end-user to configure the name of the generated file"
Being able to customize the name `codex.tags`.

[2014-12-07 12:48] grodin opened #24 "Error building dependency `machines-directory` on GHC 7.8.3"
The error is

[code]

I'll file the issue over on the `machines-directory` repo as well, but thought it was probably worth raising here too. I haven't managed to work out the root of the problem, but I've not got loads of Haskell experience yet. The version of `machines` selected by cabal is 2.3.1 .

[2014-12-16 08:57] #24 closed, assigned to nobody

[2014-12-23 12:33] #22 closed, assigned to nobody

[2015-01-13 09:02] aloiscochard commented on #13
For now we can copy/paste the code, but we must add something like next to the function:
[code]

[2015-01-13 23:55] aloiscochard opened #28 "Replace `download-curl`."
With something "stackage friendly", see https://github.com/fpco/stackage/pull/404.

[2015-01-14 01:04] rgrinberg commented on #28
+999 on this. You can even use the normal curl package with this little module from download-curl https://github.com/GaloisInc/curl/pull/11 to port codex very very fast.

Although curl isn't particularly well maintained either so perhaps there are better alternatives.

[2015-01-14 08:46] aloiscochard commented on #28
Fixed with https://github.com/aloiscochard/codex/commit/6ae9ed7512b6ec47e273fb10a6d3d3762f3e9283

Thanks @rgrinberg you rocks!

[2015-01-14 08:46] #28 closed

[2015-01-14 08:47] aloiscochard opened #29 "Remove `DownloadLazy` module once available in `curl`."
Ref: https://github.com/GaloisInc/curl/pull/11

[2015-01-21 08:52] #13 closed

[2015-02-06 01:10] nh2 opened #33 "Duplicate entries"
Hi,

my generated tags files have many duplicate lines. Shouldn't `mergeTags` remove duplicates somehow? It doesn't seem to.

Thanks!

[2015-05-12 13:25] aloiscochard commented on #33
Oops I have missed that one, sorry!

The fix seems reasonable, I'll try to do some testing asap.

Thanks a lot!

[2015-05-20 13:43] aloiscochard commented on #29
Fixed with https://github.com/aloiscochard/codex/commit/482c1d7d8a578cbd63d6486b53f2a67229a5c152

[2015-05-20 13:43] #29 closed

[2015-05-20 13:47] aloiscochard opened #35 "Investigate issues when using Halcyon"
It seems like `codex` does not take into account that the cabal config (local hackage) is in the sandbox.

Might be an `hackage-db` issue though.

[2015-05-20 14:24] mantkiew opened #36 "Codex 0.3 error on Windows"
Hi, thanks for releasing codex 0.3 with support for windows!

I just tested it on my project as follows:

$ codex set tagger hasktags
$ codex set format sublime

$ codex update
hasktags: C:\Users\<user name>\AppData\Roaming\cabal\packages\hackage.haskell.org\network-uri\2.6.0.3\tags: commitBuffer: invalid argument (invalid character)
hasktags: C:\Users\<user name>\AppData\Roaming\cabal\packages\ha

[2015-05-20 14:25] aloiscochard commented on #36
Thanks for reporting this @mantkiew, I'll give it a try on my windows machine when I have a chance.

But maybe @bmjames have already a wild guess?

[2015-05-21 13:58] aloiscochard commented on #36
BTW in case that was not clear: yes it must work with sandbox!

I had no time to look into it yet, but after re-reading the message it seems like the user directory is not properly resolve.

It would be interesting to see if you can get what is the result of this function on your system:
http://hackage.haskell.org/package/directory-1.2.2.1/docs/System-Directory.html#v:getAppUserDataDirectory

[2015-05-21 18:14] bmjames commented on #36
My guess is that the error `commitBuffer: invalid argument (invalid character)` points to it being related to file encodings. Perhaps you could try the workaround suggested here: http://jaspervdj.be/hakyll/tutorials/faq.html#hgetcontents-invalid-argument-or-commitbuffer-invalid-argument

[2015-05-22 03:47] mantkiew commented on #36
So, I ran the following commands:

[code]

which reproduces the reported error. Then I executed:

[code]

Codex ran without any errors.

[2015-05-26 09:48] aloiscochard commented on #36
Thanks both, I'll add that in the `README`.

[2015-05-26 09:59] #36 closed

[2015-05-26 10:38] aloiscochard commented on #33
Fixed with: https://github.com/aloiscochard/codex/commit/7ca9badce88152e1b91f9bd65cdd022d9531d534

[2015-05-26 11:55] nh2 commented on #33
Thank you!

And +1 for not using dreaded `nub`!

[2015-05-26 11:58] aloiscochard commented on #33
@nh2 I must shamefully confess that I tried first to use it, and then cried when looking at the performance.

Hopefully, I then ended on this great resource of yours:
https://github.com/nh2/haskell-ordnub

:-)

[2015-05-26 11:58] #33 closed

[2015-06-11 07:09] aloiscochard opened #38 "Do not continue downloading after a connection failure"
Currently stdout is flooded when run without connection and an empty cabal cache.

[2015-06-25 02:32] afcowie opened #39 "Integration with stack?"
Can we make use of the vast trove of information `stack` assembles to source code [rather than going to hackage, for example]?

AfC

[2015-06-25 03:00] rgrinberg commented on #39
+1

[2015-06-25 09:51] aloiscochard commented on #39
I have not used `stack` or looked into, so I'm not sure to understand what you mean?

You mean being able to customize https://github.com/aloiscochard/codex/blob/master/src/Codex/Internal.hs#L48 ?

Or accessing an other stack specific local storage?

[2015-06-29 10:04] aloiscochard commented on #39
@rgrinberg @afcowie could you please shed some light on this one?

I'm still not clear what you would like to see as integration with `stack`?

[2015-06-30 05:17] afcowie commented on #39
@aloiscochard So **stack** is a built tool, yeah? It's a replacement for **cabal-install** yes, but it adds a lot more capability in terms of managing the tree of packages you're building from.

When I tried **codex** in a project tree I was building with **stack**, it went out to Hackage directly to get packages. There are two problems with that:

1) the set of packages (specifically their versio

[2015-06-30 06:25] snoyberg commented on #39
There's likely other things that could be done here, but it sounds like there are two things that could be done:

1. Query `stack` to find out the version numbers of all packages in the build plan. We don't (to my knowledge) have a command to get that information yet, but it's trivial to add
2. Instead of downloading directly from Hackage, you could use the `stack unpack` command to get package co

[2015-06-30 06:34] afcowie commented on #39
@snoyberg I didn't even think of `stack unpack`. Perfect of course. Needs
the first part but as you say should be straight forward.

On Tue, 30 Jun 2015 16:26 Michael Snoyman <notifications@github.com> wrote:

[2015-06-30 06:46] snoyberg commented on #39
@aloiscochard If you're interesting this integration, let me know, and we can hash out how best to get you the list of dependencies.

[2015-07-10 11:52] afcowie commented on #39
@aloiscochard are you interested in **codex** being able to pull from the package cache and dependency list that **stack** is able to provide?

[2015-07-21 17:58] ocharles commented on #12
I think this is fixed now: https://github.com/MarcWeber/hasktags/pull/8

[2015-07-30 15:50] MarcoSero opened #40 "Unable to install codex with cabal"
I've been trying to install `codex` without success.

There seems to be a problem installing one of its dependencies, `mono-traversable`.

This is the log:
[code]

I'm using cabal version 1.20.0.2
Unfortunately I can't upgrade because of a [different problem](https://github.com/kazu-yamamoto/ghc-mod/wiki/InconsistentCabalVersions) that new versions have with `ghc-mod`.

Has anyone else seen this b

[2015-08-01 05:55] jhegedus42 opened #41 "feature - recursive tag generation"
It would be nice to have the possibility to generate tags recursively.

Problem:

Let's consider the following scenario.
There are 3 cabal projects: `A` `B` `C`, each project contains one function, `a`, `b`, `c`, respectively.

`a` uses `b` and `b` uses `c`:

In project `A`
`a x = b x + 5`

In project `B`:
`b x = c x -10`

In project `C`:
`c x = x * 2`

So if I run codex in `A` then codex generate

[2015-08-11 23:12] kevinclancy commented on #40
I had the same problem. What GHC version are you using? I'm using 7.10.2; maybe codex is not compatible with it.

I worked around the problem by cloning the mono-traversable repo and installing it in the same sandbox as codex.

[2015-08-12 08:34] MarcoSero commented on #40
Yeah it could be it's because I'm running 7.8.3

I fixed it by passing `--constraint=mono-traversable==0.9.0.*` to cabal. Not sure if it was a good idea but it worked :)

[2015-08-12 08:34] #40 closed

[2015-08-14 10:06] aloiscochard opened #42 "Add Hackage shield."
https://img.shields.io/hackage/v/codex.svg

[2015-08-14 10:07] aloiscochard commented on #35
Seems more productive to look into slack integration instead.

[2015-08-14 10:07] #35 closed

[2015-08-27 00:12] afcowie commented on #39
@aloiscochard Are you interested in **codex** being able to pull from the package cache and dependency list that **stack** is able to provide? I'm pretty sure everything you'd need is available already. Can you tell us what you need?

AfC

[2015-09-11 12:38] aloiscochard commented on #39
@afcowie I have no idea what I need beside some time to look into it.

FWIW, I'm getting into stack this days, so hopefully I'll be able to have a better clue of how the integration should work.

Cheers

[2015-09-11 13:38] aloiscochard commented on #39
@afcowie so, I just started using slack, and I can now clearly see why some integration is needed.

I have few questions regarding the integration.

First, from what I understand, stack maintain his hackage index in `~/.stack/indices/Hackage`, is that always the case? can I hard-code that path in `codex` to know where to query the hackage index (as a fallback from `cabal` one)? or is there a way t

[2015-09-21 07:50] jdnavarro commented on #39
@aloiscochard `stack` sets several environment global variables with different path info. You may be able to use them in `codex` to know whether you are running within `stack` and where are all the paths. This assumes `codex` for stack will be run `stack exec codex`, but perhaps you don't want that. As an end user of `stack` and `codex` I'm fine with that.

I'm guessing `ghc-mod` and `doctests` al

[2015-09-22 00:31] afcowie commented on #39
@snoyberg I'm going to guess you'd be able to answer @aloiscochard questions in https://github.com/aloiscochard/codex/issues/39#issuecomment-139548315 better than I. I'll take a guess, though:

* `stack path` outputs tons of stuff. Is what you need therein? If not, I daresay the **stack** hackers would be happy to add what you need.

* as @jdnavarro said, `stack exec ...` will get the environment

[2015-09-22 04:40] snoyberg commented on #39
Unfortunately, wrapping calls to `cabal` with `stack exec` doesn't work as nicely as you'd want, since cabal throws up its hands when `GHC_PACKAGE_PATH` is set. You'll need to explicit pass it `--package-db` flags to make it work. There's a Reddit thread that contains some information:

https://www.reddit.com/r/haskell/comments/3bw95a/using_cabal_and_stack_together/

It also has the following magi

[2015-10-11 15:26] begriffs commented on #39
When using Stack what settings should I specify in my `~/.codex` file? It currently looks like this

[code]

But `hackagePath` references a cabal sandbox.

[2015-10-14 14:17] aloiscochard commented on #39
@begriffs this is a known issue (which is actually this particular one we are discussion on).

I'm sorry that I had no time to work on it **yet**, but I'm finally less busy and I should be able to solve this by the end of the month.

Thanks for your understanding.

[2015-10-16 14:07] aloiscochard commented on #39
@begriffs I've just published `codex-0.3.0.10`, this version include a fix so `codex` properly take into account the value defined as `hackagePath` in the configuration file.

Thanks to this fix, here is a temporary solution in order to use `stack` index instead of the default one from hackage, simply put this value in your `~/.codex`:
[code]

Obviously you should change the home folder to match y

[2015-10-16 17:17] begriffs commented on #39
Thanks for this intermediate fix.

[2015-10-19 05:53] afcowie commented on #39
@aloiscochard hey man, there's no requirement for you to do anything. I'm so very pleased that you've heard out us asking for a new feature, and the fact that you've considered a way you might implement it and are intending to do so is fantastic.

Let us know if there's something we can do to help. Integrating stack and codex would make for a significant contribution to the Haskell ecosystem.

AfC

[2015-10-20 16:58] aloiscochard commented on #39
@afcowie hey there! no worries, it's my pleasure to provide such a tool and that was actually a pretty good excuse for me to dive a bit more into `stack` (and also start using it!) which is a really nice piece of the ecosystem (and was badly needed!).

I now have a working implementation, that I personally use on my own projects, I would appreciate a bit of testing from others though, could you gi

[2015-10-21 08:15] #42 closed

[2015-10-21 18:38] aloiscochard commented on #39
I did some more testing and added some fix (mostly related to stack having a different hackage index structure).

The latest release `0.4.0.0` is on hackage and have a complete transparent support for stack project.

[2015-10-21 18:38] #39 closed

[2015-10-21 19:02] chreekat opened #43 "Keep going if a package is not in Hackage"
One of stack's features is specifying dependencies as git repos: [Snowdrift example](https://git.gnu.io/snowdrift/snowdrift/blob/master/stack.yaml#L6).

While I should probably clean up ghci-runner and add it it Hackage, it would be nice if codex just skipped it for now and continued running on everything else.

[2015-10-21 19:08] alanz opened #44 "codex wont' update if project uses ghc as a lib"
Running `codex update` fails for a project using ghc as a library (i.e. listed in the cabal `build-depends` section for a target)

The error message is

[code]

I think the essence of this is that there is no such URL as http://hackage.haskell.org:80/package/ghc-7.10.2/ghc-7.10.2.tar.gz

[2015-10-21 21:59] aloiscochard opened #45 "Make 0.4 compatible with ghc 7.8"
The build is currently failing with ghc 7.8, as can be seen on travis.

[2015-10-21 22:15] aloiscochard commented on #45
Fixed with https://github.com/aloiscochard/codex/commit/42e2cea293c6d0726546a65e4f143274f6319e14

[2015-10-21 22:15] #45 closed

[2015-10-21 22:27] afcowie commented on #39
I love it when people release software faster than I can keep up with the GitHub mention asking me to have a look :)

[code]

Is that right @aloiscochard ? I really don't have GHC installed outside that which **stack** has provided to itself. It seems to have built a _codex.tags_ referencing _~/.stack_ content...

AfC

[2015-10-22 09:02] #43 closed

[2015-10-22 09:03] aloiscochard commented on #44
This is now fixed in master, I'll cut a release in few minutes:

[code]

[2015-10-22 09:03] #44 closed

[2015-10-22 09:06] aloiscochard opened #46 "Improve stack integration."
Currently the `stack` integration is minimal, it gives the same feature you would get from a normal cabal setup, we could do better, for example:

- Support dependency that are fetched from git (ref: https://github.com/aloiscochard/codex/issues/43)

Other ideas?

[2015-10-22 09:07] aloiscochard commented on #44
Release as port of `0.4.0.4`.

[2015-10-22 09:08] aloiscochard commented on #43
Released with `0.4.0.4`, but this is not ideal, we could relatively easily support git based dependency I think, I created an issue relative to that:
https://github.com/aloiscochard/codex/issues/46

[2015-10-22 09:16] aloiscochard commented on #39
@afcowie well sadly that's an edge case I did not faced before, so it did work somehow for you but by luck:
By following back on hackage resolution, you might have mismatch with version (codex might take a more recent version... same issue you had originally, the only difference is that now codex used the proper stack index for hackage).

I'm using the system GHC so I never faced that issue, and a

[2015-10-22 09:18] aloiscochard commented on #46
For now codex only work with stack if the global GHC is used, we should find a way to configure cabal accordingly here:
https://github.com/aloiscochard/codex/blob/master/src/Codex/Project.hs#L91-L100

@snoyberg maybe you have some pointers/tips?

[2015-10-22 09:22] snoyberg commented on #46
You can run relevant commands inside `stack exec` to get GHC in scope, not sure if that's what you're looking for though.

[2015-10-22 09:23] alanz commented on #44
Thanks, quick response

On Thu, Oct 22, 2015 at 11:07 AM, Alois Cochard <notifications@github.com>
wrote:

[2015-10-22 09:28] aloiscochard commented on #46
@snoyberg the thing is: I'm using cabal as a library, and I would prefer to avoid people having to wrap codex call into stack... but I can understand that might be mandatory for people working with "embedded" GHCs.

@afcowie could you give that a try on your project? basically doing `stack codex update` should do the job (by that I mean `cabal` should find `ghc`), and so codex should run without p

[2015-10-22 09:30] snoyberg commented on #46
I don't understand the situation well enough right now. Using Cabal as a library shouldn't depend on GHC being on the PATH. What action is failing right now?

[2015-10-22 09:34] aloiscochard commented on #46
@snoyberg so if you read those few lines: https://github.com/aloiscochard/codex/blob/master/src/Codex/Project.hs#L91-L100 you'll see that I'm basically doing what you suggested there: https://github.com/aloiscochard/codex/issues/39#issuecomment-142180391

But using the library function `configure` of `cabal` instead of calling the executable, I don't know the internals of cabal well enough, but it

[2015-10-22 09:38] snoyberg commented on #46
It makes sense. I didn't understand at first that `configure` was coming from the Cabal library, makes more sense now.

As I see it, you've got two additional options:

1. Ask `stack` for its modified PATH variable (`stack path --bin-path`), and set it globally on your process with `setEnv`
2. Similarly get the modified PATH, but then call out to `runghc Setup.hs` as a separate process using that

[2015-10-22 09:42] aloiscochard commented on #46
I suppose I'm fine with (1) as `codex` is a highly specialized tool and that shouldn't interfere with taggers (which are the only binaries used by `codex` from the env).

@snoyberg awesome thanks a lot!

[2015-10-22 17:37] chreekat commented on #46
@aloiscochard note that one (common?) use case is having ghc installed globally, but operating within a package that uses a different version locally! It may be best to always rely on stack to pick a version of ghc when operating on a stackified project.

[2015-10-22 17:39] chreekat opened #47 ""ghc-pkg: Prelude.chr: bad argument: 3997250""
Got this trying to run codex on [Snowdrift](https://git.gnu.io/snowdrift/snowdrift).

Note that I have ghc 7.8 installed globally, but Snowdrift uses 7.10.2 locally.

    Configuring Snowdrift-0.1.4...
    cabal: user error ('/home/b/.local/bin/ghc-pkg' exited with an error:
    ghc-pkg: Prelude.chr: bad argument: 3997250
    )
    codex: *warning* falling back on dependency resolution using hacka

[2015-10-22 17:41] chreekat commented on #47
Not sure if related, but codex still continues and writes out a tags file -- which is depressingly sparse. Mostly it seems to include entries for 'main' of a bunch of test files included with packages; test files that aren't even exported by those packages.

[2015-10-22 18:08] aloiscochard commented on #46
@chreekat totally agree that's the plan.

It's quite simple to implement in fact, but I'm trying to find a way to test/debug it and sadly that seems impossible under NixOS.

I might setup a VM, or just do it in a branch and ask you folks for some help with testing if possible.

[2015-10-22 18:18] chreekat commented on #46
Sure thing, I'll test branches!

On Thu, Oct 22, 2015 at 11:08 AM, Alois Cochard <notifications@github.com>
wrote:

[2015-10-22 23:27] afcowie commented on #39
@snoyberg would putting a symlink in _~/.local/bin_ called `ghc` to one of **stack**'s GHCs do the trick?

[2015-10-26 16:58] aloiscochard commented on #47
@chreekat did you got at least some warnings saying that packages could not be fetched?

If you can retry with `--force` just to confirm/infirm the warnings messages.

I'll try to do the fix for proper GHC support from stack, that would fix this one.

[2015-10-26 18:19] chreekat commented on #47
@aloiscochard using --force has no effect on error messages, and there are none besides what I listed above.

I won't be surprised if this gets fixed when stack ghc is supported. :)

Thanks for working on this project! It seems really great.

[2015-10-30 01:20] afcowie commented on #46
I tried `stack exec codex update` and it didn't seem to help (or rather, it came up with a different error message):

[code]

Not sure if that matters.

AfC

[2015-11-05 18:35] aloiscochard commented on #46
@chreekat @afcowie sorry for late reply, I did not had a chance before to add that fix...

I added the potential fix in `feature/slack` (https://github.com/aloiscochard/codex/tree/feature/slack) could you guys give it a try and let me know if it solves your problem please?

Thanks in advance, I might find time to give it a try into a docker container... but in the meantime...

[2015-11-05 19:13] chreekat commented on #46
Hey! Two things:

1. My problem *may* have been the fact that I was using fast-tags. With fast-tags, the feature/slack branch wasn't "fixed".
2. Once I installed and used hasktags, codex worked! It's amazing. :)

[2015-11-06 00:18] afcowie commented on #46
Oh. *Not* to use `stack exec codex update` but to use `codex update`. Right.

Tried your feature/slack branch. `codex update` works cleanly now!

AfC

[2015-11-06 10:40] aloiscochard commented on #46
The fix is release as part of `0.4.0.6` which is now on hackage! Thanks everyone for your help.

@chreekat if you are interested to get support for fast-tags you can file an issue here but tbh I'm not so sure it is worth it with `codex`, because `codex` already do some sophisticated caching and merging.

[2015-11-06 10:40] #46 closed

[2015-11-06 10:42] aloiscochard commented on #47
Fixed with https://github.com/aloiscochard/codex/commit/09a805a45222ec299a59ee65012229340e5239d7

[2015-11-06 10:42] #47 closed

[2015-11-06 10:42] aloiscochard opened #48 "stack: Support dependency which are fetched from git."

[2015-11-18 14:28] madjestic opened #49 "requires 'cabal init' to work"
Hey guys,
when I ran 'codex update' inside project root (~/.xmonad/) I got the following errors:

[code]

tags file was not generated.  The issue is resolved after running 'cabal init' in the project root dir.
It looks like it either needs to be mentioned in README/documentation somehwere, or 'cabal init' should be optional.

Otherwise it works!
Thanks,
Vlad

[2015-11-18 20:12] aloiscochard commented on #49
@madjestic Hi Vlad,

The errors is returned by `cabal`, and `codex` just forward it, you can see it on the second line:
`cabal: Run the 'configure' command first.`

The `codex` try to fallback on an other mode which should generate a file anyway, but with using latest dependency from hackage instead of the one configured explicitly in your cabal definition.

It seems like this fallback mode did fa

[2015-11-18 20:16] aloiscochard commented on #49
Oh sorry @madjestic, I missed that you where trying to use `codex` on your XMonad conifguration!

That's a rather unusual use case, but I'm surprised you can even get a useful tag file after doing an init.
You probably have just the tags of your configuration file in it, isn't it?

[2015-12-25 06:33] aloiscochard commented on #49
Please re-open if needed, closing for inactivity.

[2015-12-25 06:33] #49 closed

[2015-12-31 17:56] azadbolour opened #51 "case-sensitive tag search in vim"
Hi,

I am using the generated codex tag file with vim (on a MAC) and it works fine. My default vim case settings are - :set ignorecase and :set smartcase.

When I try to go to a tag, vim seems to be doing a case-insensitive search of the codex tags file. To take an extreme case, I tried - :tag Eq - and got several matches for 'eq' as well as a match for 'EQ', but interestingly, none for 'Eq'.

If

[2016-02-27 01:59] ggVGc opened #52 "hasktags --ignore-close-implementation seems broken"
Setting `tagsCmd` to `hasktags --ignore-close-implementation` seems to only have effect on the files in the current project, and not in any of the dependencies. This is a bit annoying since without it the tags file ends up having duplicates of every function, once for the declaration and once for implementations.

[2016-03-02 21:56] wolftune commented on #52
+1

[2016-03-02 21:56] wolftune commented on #48
+1

[2016-04-05 10:33] soenkehahn commented on #48
It also seems that extra-deps from hackage (not from stackage) don't work either.

[2016-04-05 13:26] aloiscochard commented on #52
@ggVGc I do not see how the behavior you describe could happen, besides the fact that you are getting outdated tags file from the cache.

Could you try to run `codex cache clean` **before** re-running `codex update`, this required if you change the tagger configuration and you had used codex before.

@wolftune you mean in the default configuration, similar to how `follow-symlinks` is defined? (htt

[2016-04-05 16:21] wolftune commented on #52
@aloiscochard yes, that *sounds* like exactly what I mean. I didn't investigate thoroughly, but yes, --ignore-close-implementation should be always on as default for hasktags. The truth is, it should be made the default behavior for hasktags itself, and then it wouldn't be a codex issue, but for now…

[2016-04-10 20:52] aloiscochard opened #54 "Codex 1.0"
**Ideas**

- Rewrite from scratch using new shiny machines combinators
- Drop `Cabal` dependency, replace with `stack` usage (to download source, and list dependencies, should result in lighter tool)
- Current codex would become `codex-legacy` and be maintened as long as there is interest for `Cabal` support

[2016-04-10 20:57] aloiscochard commented on #51
@azadbolour Hi, you should remove the setting `set ignorecase` in your vim configuration.

Ref: http://stackoverflow.com/questions/7234072/case-insensitive-tag-searching-in-vim

[2016-04-10 20:57] #51 closed

[2016-04-29 16:40] chreekat opened #55 "stack- (and new cabal-)friendly feature: Look in subdirectories for cabal files"

[2016-05-12 10:37] afcowie opened #56 "Warning about --global-stack-root option"
`codex update` just emitted

[code]

fyi, in case you hadn't seen it.

AfC

[2016-05-21 14:34] #56 closed

[2016-05-21 14:35] aloiscochard commented on #56
Thanks!

[2016-06-08 00:02] afcowie commented on #48
I'm not sure if this is the same issue, but I have a _stack.yaml_ that looks a bit like this:

[code]

ie, I'm referring to a local package I'm concurrently developing, but at present **codex** doesn't at present process it in the output _codex.tags_ file.

@aloiscochard if this seems relatively trivial, then perhaps you could point to the area in the code that would need to be tweaked and I will

[2016-06-27 21:11] harendra-kumar opened #58 "Support tag generation for stack scripts"
Stack can be used as a script interpreter. We can specify packages being used by a script. For example:
[code]

It will be nice is codex can support tag generation for the scripts as well by using the packages specified in the stack interpreter comment. It will make writing and navigating scripts a better experience. We will be able to navigate to any library functions being used in the script.

T

[2016-07-11 20:23] shajra commented on #55
Man, just ran into this today.  I know the real answer may be "pull requests welcome."  I'm definitely penalized right now for having multiple packages specified in a top-level stack.yaml.  Maybe I can put a stack.yaml in each subproject instead.  I'll have to play around and see what makes Intero in Emacs happy.

[2016-07-25 12:40] cidevant opened #59 "Build failure"
```cabal install codex```

[code]

osx el capitan
ghc 7.10.3
cabal 1.22.9.0

[2016-08-22 12:08] afcowie opened #60 "Editors failing to load codex.tags file"
Editors having a problem parsing tags file generated by **codex**:

[code]

I've tried quite a few things. I tried manually dropped **hothasktags** into the _.codex_ config rather than **hasktags**; no avail. I tried disabling sorting. I tried changing from `-cx` to just `-c`, etc.

This has been going on for a while, so I'm afraid I can't pin down which I might have changed. _Maybe_ sometime over

[2016-09-07 19:59] bitemyapp commented on #55
I'm in the same situation here, can explain more detail if desired.

[2016-09-22 12:02] mayeranalytics opened #63 "`stack install codex` fails with lts-7.0"
### Steps to reproduce

Starting with a clean Ubuntu VM:

1. `stack --resolver lts-7.0 setup`
2. `stack --resolver lts-7.0 install codex`

Result:

[code]

Following the recommended action I add to the extra-deps in `stack.yaml`. After running `stack --resolver lts-7.0 install codex` again I get failure with recommendation to add `machines-io-0.2.0.13`.

The file `.stack/global-project/stack.yaml`

[2016-09-22 12:58] sjakobi commented on #63
I think this is due to

[code]

in [codex-0.5.0.1](http://hackage.haskell.org/package/codex-0.5.0.1/codex.cabal).

[2016-09-22 15:02] bitemyapp commented on #63
@sjakobi yeah, fix is in, just need to do another release. Apologies!

[2016-09-22 15:23] bitemyapp commented on #63
@sjakobi @mayeranalytics I deprecated `0.5.0.1` and uploaded `0.5.0.2`, let me know if this works for you. If it does, I'll close the issue. Thank you!

[2016-09-22 16:14] mayeranalytics commented on #63
Works fine, Thanks a lot!

[2016-09-22 16:16] #63 closed

[2016-09-22 18:42] aloiscochard commented on #63
@bitemyapp I should have warn you about this dreadful gotcha, sorry for that and thanks for the effort!

[2016-09-22 18:44] aloiscochard commented on #54
I've lately started coding with other languages which would benefit highly from similar support, so I wonder if next version could also be similar in spirit to: https://github.com/aloiscochard/sarsi

[2016-09-22 18:45] aloiscochard commented on #59
@cidevant latest version use GHC8 and have updated dependencies, so this should solve your problem.

[2016-09-22 18:45] #59 closed

[2016-09-22 19:17] bitemyapp commented on #54
@aloiscochard not strictly 1.0 relevant, but one issue I noted was that Codex didn't handle siblings correctly.

There were two `App` names in scope in my project, one from a dependency, one was the `App` type for my Yesod project. It ended up picking the dependency `App` instead of jumping to my project's `App`.

I've seen tags generators simply provide both siblings and let the editor UX choose

[2017-03-05 21:35] begriffs opened #67 "Adding codex to Stackage LTS >= 7"
Hi there, thanks for the codex tool. Love having it to help me make tags to jump into library code from my editor. A lot of other people are using it too through the haskell-vim-now project. Been getting a few issues (https://github.com/begriffs/haskell-vim-now/issues/233, https://github.com/begriffs/haskell-vim-now/issues/233) lately about install failures. Looks like this is because codex hasn't

[2017-03-05 22:18] bitemyapp commented on #67
Need to nuke wreq out of it. Hasn't mattered for me too much because I `git clone` and `stack install` it, but I feel you.

https://github.com/fpco/stackage/pull/1890

[2017-03-07 05:01] alx741 commented on #67
+1 to this, would be glad to be able to `stack install codex`

[2017-03-27 13:50] SX91 commented on #67
Is there any reason to no just bump upper bounds for `wreq` and `directory`?

[2017-04-07 12:18] suzumiyasmith opened #68 "Update dependencies of wreq 0.5.* and http-client 0.5.*"
[code]

[2017-04-12 11:35] aloiscochard commented on #60
My gut feeling is that this might directly related to `hasktags`, it could be related to how codex is aggregating partial `.tags` file, but I would need a project where I can reproduce it.

I close the ticket for now, please re-open if:
- You can provide a project to reproduce the issue
- Have isolate where the problem lie in `codex`

[2017-04-12 12:16] aloiscochard commented on #68
Done and released in ` codex-0.5.1.0`.

[2017-04-12 12:16] #68 closed

[2017-04-12 12:16] aloiscochard commented on #67
The upper bounds are now fixed (https://github.com/aloiscochard/codex/issues/68), I hope that will solve building on stackage.

[2017-04-12 12:39] aloiscochard opened #69 "Add settings for `nix<->stack` integration."
In order for stack to work properly in a `NixOS` environment, it is (sadly) required to pass a `--nix` flag every-time it is called.

Which mean that, at the moment, if you try to run `codex` in a stack project on NixOS, it will initially fail.

A workaround, is to edit the project `stack.yaml` and add `nix: enable: true`, which is sub-optimal as one might one to keep that only for his local proje

[2017-04-12 12:40] #12 closed

[2017-04-12 13:24] hvr opened #70 "compile failure w/ pre-AMP base versions"
I noticed on

  http://104.239.175.197:8080/package/codex

that `codex` lower bound on `base` doesn't appear to be accurate, as w/ GHC 7.8.4 the compilation fails

[code]

[2017-04-12 16:15] alx741 commented on #67
I confirm `stack install codex` now works perfectly

[2017-04-13 07:31] aloiscochard commented on #67
Awesome, thanks for the feedback @alx741 !

[2017-04-13 07:31] #67 closed

[2017-04-13 10:44] aloiscochard commented on #70
Thanks for the report @hvr, I did some fix in import, hopefully it should be all green for `0.5.1.2`.

[2017-04-13 17:32] hvr commented on #70
@aloiscochard ...almost... :-) GHC 7.6.3 still fails with:

[code]

[2017-05-10 12:30] miladz68 opened #71 "codex update does not work in cabal sandbox"
in my mac OS X El Captian, when I run `codex update` in any sandbox, I get the following error :

I updated my codex to version  0.5.1.2 from 0.5.02 but the problem persists.
when I type in terminal `cabal --version` I get ` cabal-install version 1.24.0.0`
I used to have Cabal-1.24.2.0 but downgraded to version Cabal-1.24.0.0, I don't remember how I did this.

although codex update works outside t

[2017-08-06 14:10] capn-freako commented on #55
Me too.

I see the last comment posted on this issue is almost a year old.
Did someone find a work-around and forget to post a link, here?

Thanks!

[2017-09-18 11:05] Pitometsu opened #72 "stack private packages"
E.g. I hase `stacke.yaml` with some dependencies in private github repos like that:

[code]
Than I got `404` errors from `codex`
[code]

[2018-01-03 20:21] dan-t commented on #71
See https://github.com/aloiscochard/codex/pull/74.

[2018-01-15 13:48] stites commented on #55
Running into this issue is my life now so I've added a bounty. @chreekat / @aloiscochard can you edit the issue description to include this bountysource badge?

    ![](https://api.bountysource.com/badge/issue?issue_id=33469373)

rendered:  ![](https://api.bountysource.com/badge/issue?issue_id=33469373)

[2018-02-11 00:38] cydparser commented on #55
@stites does #76 fix this issue for you? Only the last commit is relevant to this issue.

[2018-02-12 01:47] stites commented on #55
Yup -- thanks for taking this! I took a look at the code and got sidetracked trying to refactor codex to use the stack- and cabal- libraries directly. Kudos @cydparser for persevering. I've never closed out a bounty before, but I think it requires the PR to get merged into master and for this issue to be closed as a result.

[2018-03-09 14:29] chreekat commented on #55
By all accounts, #76 resolves this issue. It's been merged, so I'm finally closing this. :)

/cc @stites

[2018-03-09 14:29] #55 closed

[2018-04-03 23:06] parsonsmatt opened #78 "`codex` fails if there's no cabal directory"
[code]

I am doing a fresh install on Ubuntu and haven't built any Haskell projects using `cabal` yet. Doing a `cabal update` fixes this issue.

The `hackage-db` package throws this exception if the file isn't found: https://github.com/peti/hackage-db/blob/master/src/Distribution/Hackage/DB/Path.hs#L43-L47

[2018-04-06 00:08] JakeAndrew opened #80 "reported version is incorrect"
*Note:* Fixing this bug may require something to be changed on Hackage, rather than in the repo.
Then again, maybe the repo does need an adjustment.

## How to recreate & prove the bug's existence:

First, navigate into a Stack project directory and run `stack install codex`.
This installs `codex` to `~/.local/bin`, at least with my config.

Now run `codex --version`. I got `codex: 0.5.1.2`.

`~/.

[2018-04-09 15:54] JakeAndrew commented on #72
Superficially, this appears to be a duplicate of #48.

Looking deeper, your grouping/indentation doesn't seem right.

Does the below work for you?

[code]

I give a link to a script in #48's discussion that should help you.

[2018-04-10 23:32] roman commented on #78
Thanks for the tip

[2018-05-06 18:02] seanparsons opened #82 "Listed NixOS build is currently broken."
Kinda not your problem but the NixOS build doesn't work as is currently:
https://hydra.nixos.org/build/66347974/nixlog/1

[2018-06-12 14:31] aloiscochard commented on #82
Hi Sean,

Thanks for letting me know, I should have noticed early as I'm running NixOS, in any-case I definitely care ;-)

I thought that hackage stuff where automatically available on NixOS, but I  see a file `hackage-packages.nix` which contains a custom build for `codex`.

My gut feeling is that this custom build might now be outdated (changed deps, ...)... @seanparsons do you think i can simpl

[2018-06-12 15:11] seanparsons commented on #82
IIRC the versions of the various packages in `haskellPackages` are a snapshot of a stackage release. So if they've added that custom build in there, maybe it doesn't line up correctly anymore?

[2018-10-01 09:58] hasufell opened #86 "Codex automagically picks stack as a Builder"
https://github.com/aloiscochard/codex/blob/9ab9707fc67a56281910b2ab28784b0e35bae04b/codex/Main.hs#L158-L174

This shouldn't happen. Just because there is a stack file doesn't mean I actually want to use stack.

[2018-10-31 10:16] hasufell opened #89 "Codex is broken since cabal-2.2.0.0"
[code]

`00-index.tar` doesn't exist anymore, only `01-index.tar` is created.

[2018-10-31 10:16] hasufell commented on #89
https://github.com/aloiscochard/codex/pull/88

[2018-12-21 17:46] parsonsmatt opened #96 "Support fast-tags"
@fommil reports that [fast-tags and hasktags used to have a bug with Emacs tags format](https://twitter.com/fommil/status/1076116270083387399), and that it was [fixed in fast-tags](https://github.com/elaforge/fast-tags/pull/43). Perhaps we should support fast-tags, or look at getting that bug fixed in `hasktags`.

[2018-12-31 21:50] parsonsmatt opened #97 "Neovim fails to read codex generated tags files"
# How you installed `codex`:

`stack install codex`

# What your operating system is:

Ubuntu 18.04

#  What sort of project you're running - old cabal, stack, cabal new-build, etc.

Stack project

# Exactly what command you used to run codex, including all arguments

`codex update`, configuration:

[code]

- Exactly the output you recieve from `codex`

[code]

This output corresponds with correct

[2019-01-06 14:18] LucianU commented on #89
What's the status on this?

[2019-01-06 17:35] parsonsmatt commented on #89
The most recent release should have fixed this.

[2019-01-07 00:02] seanparsons commented on #89
@parsonsmatt The most recent release of codex? I just tried it with master and it still looks to be broken to me.

[2019-01-07 02:12] parsonsmatt commented on #89
Indeed. This is what I get:

[code]

[2019-05-29 18:13] gilligan opened #98 "codex fails while parsing unrelated cabal file in parent directory"
### problem scenario
I tried using `codex` for https://github.com/tweag/ormolu/ and for some reason it tries to parse a completely unrelated project from a different directory:

[code]
### details

- NixOS
- ghc 8.4.4
- codex version 0.5.2.0 (built from 48b2a4b94132b537943bcd966c3922cbf67a7409)

[2019-05-29 18:21] cydparser commented on #98
By default codex treats the parent directory as a workspace. This can only be disabled by setting the environmental variable CODEX_DISABLE_WORKSPACE to any value.

[2019-05-29 18:46] gilligan commented on #98
I am really struggling to understand this
[code]

If I am in `bar` and that contains a valid `.cabal` file and I run `codex update` why would it parse a cabal file that it finds in `baz`? That makes no sense to me.

If `codex update` is run in either `bar` or `baz` and neither contained a `cabal` file it would make sense that it checks `parent` for a cabal file. But anything else seems very unexpe

[2019-05-29 19:00] gilligan commented on #98
FWIW, running codex with `CODEX_DISABLE_WORKSPACE` fixes the issue I described above. I still don't understand the motivation behind the behavior at all though.

[2019-05-29 19:21] gilligan commented on #98
@cydparser I guess you introduced this behavior in https://github.com/aloiscochard/codex/pull/76 - would be great if this could be documented in the README.

So if I have a cabal project with stack.yaml or cabal.project I *must* call codex with `CODEX_DISABLE_WORKSPACE` if I want codex to only create tags for my cabal project in the current directory?

[2019-05-29 19:42] cydparser commented on #98
I also find the default behavior confusing (which is why I added CODEX_DISABLE_WORKSPACE). I think that implicit workspaces should either be disabled entirely (now that we have `cabal.project` and `stack.yaml` files) or disabled by default.

[2019-05-29 20:47] gilligan commented on #98
@parsonsmatt What is your take on this? What do you think the behavior of `codex update` should be ideally?

[2019-05-29 20:55] gilligan opened #99 "Saved package config file is outdated"
[code]

I'm afraid I don't quite understand the issue and re-running `configure` does not fix this. I also dropped `~/.cabal` completely but that doesn't make a difference either. What version change is the message referring to here?

----
- codex built from master
- NixOS
- oldstyle cabal build

[2020-01-08 23:31] hasufell commented on #89
This is still broken after a year.

[2020-03-14 01:53] parsonsmatt opened #103 "GHC 8.10.1 support"
Currently blocked on https://github.com/haskell/zlib/pull/28

[2020-03-14 02:25] parsonsmatt commented on #98
This seems reasonable. Especially now that `cabal` supports `cabal.project` files.

[2020-03-14 02:47] parsonsmatt commented on #89
Should be fixed by #102 .

[2020-03-14 02:48] parsonsmatt commented on #86
Should be fixed by #87

[2020-03-14 02:48] #86 closed

[2020-03-14 02:49] parsonsmatt commented on #78
There are better error messages for this case now.

[2020-03-14 02:49] #78 closed

[2020-03-14 02:52] parsonsmatt commented on #72
Closing as duplicate of #48

[2020-03-14 02:52] #72 closed

[2020-03-14 02:53] parsonsmatt commented on #80
Any version of `codex` built with the `cabal` file specifying the version as `0.5.1.2` will do that. I suspect you installed a Git version of `codex` at some point that had that version tag.

[2020-03-14 02:53] #80 closed

[2020-03-14 02:53] parsonsmatt commented on #71
Presuming fixed as of #74

[2020-03-14 02:53] #71 closed

[2020-03-14 03:58] #70 closed

[2020-03-14 03:58] #89 closed

[2020-03-14 03:58] #97 closed

[2020-03-14 18:17] ilyakooo0 opened #104 "Resource exhausted error"
- How you installed `codex`

I Installed codex by cloning the 6edbdc34357d13e52b434c19665725684cdd2dba commit and building it with stack.

- What your operating system is

macOS

- What sort of project you're running - old cabal, stack, cabal new-build, etc.

The project is buildable with all of the above.

- Exactly what command you used to run codex, including all arguments

[code]

- Exactly th

[2020-03-15 09:52] vyorkin commented on #86
Another solution could be to have a CLI option / config parameter to manually specify the _builder_. Something like `codex set builder stack/cabal`.

The reason for this suggestion is that you might have a `.stack-work` dir even if you want to use cabal as a _bulider_ for `codex`. For example, currently if I have a `.stack-work` folder I get the following warnings and errors (for some reason):

[c

[2020-03-15 16:04] parsonsmatt commented on #86
Patches welcome! I'd be happy to accept a CLI flag `--build-tool [cabal|stack]` that could override the default behavior.

It would appear that `base-4.30.0.0` and `Cabal-3.0.1.0` are not uploaded to Hackage. I don't know why.

Does using `cabal` as a build tool not have these errors/warnings?

(fwiw, you can just `mv .stack-work .stack-work-x` instead of the potentially costly deleting/rebuilding

[2020-03-15 19:05] vyorkin commented on #86
Yeah, it works perfectly when I use cabal as a build tool.

Thanks @parsonsmatt! I'll try to submit a PR soon

[2020-04-13 21:06] vyorkin commented on #10
I'm trying to use codex `0.6.0.0` with Emacs, but I'm getting:
[code]

Here is my config file for `codex`:
[code]

So the header and sorting options are disabled... Is there anyting else I can try?

[2020-04-13 21:36] parsonsmatt commented on #10
I also get this with vim, so I suspect something is wrong with how the tags files are being generated.

[2020-10-07 05:56] dmjio commented on #10
I get this as well.

[2020-11-23 14:44] aloiscochard commented on #98
Yes the feature was introduced before those concepts existed (cabal.project or stack at all for that matter).

I think we should entirely remove the workspace mechanism, it does complexity the code base with no actual use as of today.

I'll try to do some cleaning and remove that part.

[2020-12-27 21:27] elizgarcia5 opened #105 "# [Codecov](https://codecov.io/gh/prysmaticlabs/prysm/pull/1363?src=pr&el=h1) Report"
# [Codecov](https://codecov.io/gh/prysmaticlabs/prysm/pull/1363?src=pr&el=h1) Report

[code]

__Originally posted by @codecov in https://github.com/prysmaticlabs/prysm/pull/1363#issuecomment-456281300__

[2020-12-31 08:04] aloiscochard commented on #105
@elizgarcia5 this seems unraleted to this repository, or am I missing something?

[2021-01-11 02:05] #105 closed

[2021-10-26 13:01] koslambrou opened #107 "Is it possible to generate ctags for source code in `dist-newstyle`, but not in hackage."
My haskell project depends on other haskell projects which are not in hackage, and are download in `dist-newstyle` when doing `cabal build`.

After downloading `codex`, and running `codex update` on my project directory, the my project's source code and hackage dependencies are indexed, but not those dependencies in `dist-newstyle`.

Is there a way to include them?

[2022-07-05 03:52] carlosdagos commented on #10
I noticed this happens if I first generate tags using `ctags` and then try to generate them again but using `etags`.

What I did was find all the tags files (in my case for `stack`):

[code]

I removed them and rebuilt my tags using `codex` again, and all worked 👍🏼

[2022-08-07 10:02] hasrthur opened #108 "Can't install codex on haskell 9.0.2"
HI! Thank you for a great project! Right now it is the only way for me to navigate external libs.

Unfortunately it doesn't work with newer haskell version since it can't find the required libs:

[code]